
{{authors|length}}
{% if authors is empty %}
<h3>empty</h3>
{% else %}
<table border="1">
<tr>
<th>id</th>
<th>picture</th>
<th>username</th>
<th>email</th>
<th>nb_books</th>
<th>details</th>
<tr>
{% for author in authors %}

<tr>
<td>{{author.id}}</td>

<td>{{author.username|upper}}</td>
<td>{{author.email}}</td>

<tr>
{% endfor %}
{% endif %}
</table>